.header-background{
    background-color:#264653;
}
.modal-form{
    height: 93%;
}
.carousel-image-height{
    height: 220px;
    object-fit: cover;
}
.button{
    background-color: #E76F51;
}
.text-color{
    color: #E76F51;
}